body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f7fa;
  color: #333;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #35495e;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 25%;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 25px;
}

h1 {
  margin-left: 10px;
}

.container {
  max-width: 1100px;
  margin: 40px auto;
  margin-top: 200px;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

form {
  margin-bottom: 30px;
  width: 100%;
}

input[type="file"] {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 50%;
  margin-bottom: 15px;
  margin-left: 10px;
}

button {
  background-color: #42b983;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.2s ease;
}

button:hover {
  background-color: #369d75;
}

.main-table {
  flex: 2;
  min-width: 300px;
}

.sidebar {
  flex: 1;
  border-left: 2px solid #ccc;
  padding-left: 20px;
  min-width: 220px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

tr:hover {
  background-color: #f9f9f9;
}

.badge {
  padding: 4px 8px;
  border-radius: 5px;
  margin-bottom: 5px;
  color: white;
  font-weight: bold;
  font-size: 12px;
}
/* Hamle türü renkleri */
.Brilliant {
  background-color: #1aaba8;
}
.Great {
  background-color: #5f8aac;
}
.Best {
  background-color: #99bc46;
}
.Excellent {
  background-color: #98bd56;
}
.Good {
  background-color: #97af8b;
}
.Book {
  background-color: #aa8865;
}
.Inaccuracy {
  background-color: #f6c141;
}
.Mistake {
  background-color: #e08a23;
}
.Blunder {
  background-color: #d33833;
}
.Missed {
  background-color: #ddaf1e;
}
.Forced_Mate {
  background-color: #333;
}

/* Sidebar için liste stilleri */
.sidebar h3 {
  margin-top: 0;
  color: #35495e;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}

.stats {
  margin-top: 15px;
}

.stats ul {
  list-style: none;
  padding-left: 0;
}

.li {
  margin-bottom: 18px;
  font-size: 14px;
}

.stats .player-name {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
}
